@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src:
    url("/font/Satoshi-Medium.woff2") format("woff2"),
    url("/font/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins-ui);
  --font-poppins: var(--font-poppins-ui);
  --font-satoshi: "Satoshi", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
