@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src:
    url("/font/Satoshi-Medium.woff2") format("woff2"),
    url("/font/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins-ui);
  --font-poppins: var(--font-poppins-ui);
  --font-satoshi: "Satoshi", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.logo-home { width: 36px; filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(245deg) brightness(104%) contrast(104%); }

.verification-main {
    background-image: url(/icons/let-you-screen-main-img.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #00D061;
    height: 300px;
}

/* datepicker */
.react-datepicker {
  border-radius: 16px;
  border: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.react-datepicker__header {
  background-color: #00D061;
  border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white;
}

.react-datepicker__day--selected {
  background-color: #00D061;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #E4FFEE;
}